<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a *ngIf="!authService.authenticated" class="navbar-brand" routerLink="home">Home</a>
    <a *ngIf="authService.authenticated" class="navbar-brand" routerLink="home-logged-in">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="family" *ngIf="authService.authenticated">Family</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="chores" *ngIf="authService.authenticated">Chores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="rewards" *ngIf="authService.authenticated">Rewards</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="login" *ngIf="!authService.authenticated">Login/Sign Up</a>
        </li>
        <li>
          <div class="text-white nav-link" *ngIf="authService.authenticated && authService.currentUser">Hello, {{authService.currentUser.email}}</div>
        </li>
        <li>
          <a class="text-blue nav-link" routerLink="home" (click)="authService.logout()" *ngIf="authService.authenticated">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <!--<div class="user">-->
    <!--<div class="text-white" *ngIf="authService.authenticated && authService.currentUser">Hello, {{authService.currentUser.name}}-->
      <!--<a class="text-blue nav-link" routerLink="home" (click)="authService.logout()" *ngIf="authService.authenticated">Logout</a></div>-->
  <!--</div>-->
</nav>

<!--<header class="bg-primary py-5 mb-5">-->
  <!--<div class="container h-100">-->
    <!--<div class="row h-100 align-items-center">-->
      <!--<div class="col-lg-12">-->
        <!--<h1 class="display-4 text-white mt-5 mb-2">Business Name or Tagline</h1>-->
        <!--<p class="lead mb-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus ab labore provident mollitia. Id assumenda voluptate earum corporis facere quibusdam quisquam iste ipsa cumque unde nisi, totam quas ipsam.</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</header>-->

<main>
  <!--<nav>-->
    <!--<ul>-->
      <!--<li>-->
        <!--<a routerLinkActive="active" routerLink="home">Dashboard</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a routerLinkActive="active" routerLink="chores">Chores</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</nav>-->

  <article>
    <router-outlet></router-outlet>
  </article>
</main>

<footer class="py-5 bg-dark">
  <app-footer></app-footer>
</footer>
