<div class="container">

  <div class="row bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Chore Tracker</h1>
          <p class="lead mb-5 text-white-50">Create and manage chores for your whole family. Assign rewards to keep everyone motivated, and before you know it arguing about chores will be a thing of the past!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>How it works</h2>
      <hr>
      <p>Parents start by creating an account for the whole family. Then each family member can have their own profile created with their own login. Parents can then add chores and assign them to one or more members of the family.</p>
      <p>To keep everyone motivated, parents can add different types of rewards that can be earned by completing chores.</p>
      <a class="btn btn-primary btn-lg" routerLinkActive="active" routerLink="/register">Register Now &raquo;</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100 text-center">
        <div style="text-align:center">
          <fa-icon size="7x" [icon]="faUsers"></fa-icon>
        </div>
        <div class="card-body">
          <h4 class="card-title">Add Family Members</h4>
          <p class="card-text">Add accounts for members of your family so that each person can have their own customized chore list</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100 text-center">
        <div style="text-align:center">
          <fa-icon size="7x" [icon]="faClipboardList"></fa-icon>
        </div>
        <div class="card-body">
          <h4 class="card-title">View Chores</h4>
          <p class="card-text">Parents can view Chores assigned to each family member. Kids each get their own login to view their own personalized list of chores</p>
        </div>
        <div class="card-footer">
          <a routerLinkActive="active" routerLink="/chores" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100 text-center">
        <div style="text-align:center">
          <fa-icon size="7x" [icon]="faMoneyBillAlt"></fa-icon>
        </div>
        <div class="card-body">
          <h4 class="card-title">Rewards</h4>
          <p class="card-text">Parents can create and assign rewards for each child to keep them motivated</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
